body {
    margin: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    background: #111;
    color: #EA0;
    display: block;
}

a { font-weight: bold }
a:link    { color: #D00; }
a:visited { color: #D00; }
a:hover   { color: #F00; }
a:active  { color: #B00; }

header {
    font-size: 32px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #EA0;
}

.title {
    display: inline-block;
    font-size: 1em;
    margin: 0px;
}

.buttons {
    float: right;
}

.buttons>img {
    height: 1.3ex;
}

header, .content, footer {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #EA0;
}

.content, footer {
    margin-top: -2px;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    color: #960;
    text-align: right;
    padding-right: 5px;

}

@media (max-width: 360px) {
    body {
        margin: 0px;
    }
    .buttons {
        display: none;
    }
}

@media (min-width: 361px) and (max-width: 860px) {
    body {
        margin: 30px;
    }
}

